 .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: var(--cui-breakpoint-xl) !important;
    padding: 0 !important;
}

@media (max-width: 1200px) {
    .container {
        padding: 0 3rem !important;
        max-width: 100% !important;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 !important;
        max-width: 100% !important;
    }
}

.wraper {
    margin: 0 !important;
}

@media (max-width: 768px) {
    .wraper {
        max-width: 100% !important;
    }
}

.movieContainer {
    padding: 0 3rem !important;
}

.comparedMoviesHeader {
    padding: 0 3rem !important;
    margin-bottom: 1.5rem;
} 

.comparedMoviesRow {
    justify-content: center;
    padding-top: 3rem;
}

.alert {
    padding-left: 3rem;
    padding-right: 3rem;
    align-self: center;
}

.alertIcon {
    margin: 0.5rem 0.5rem 0 0.5rem;
    vertical-align: baseline;
  }