.movieScore {
    position: absolute;
    left: 10px;
    top: 200px;
    padding: 0;
}

.movieCard {
    padding: 0 !important;
    overflow: hidden;
    width: 200px !important;
    height: 385px !important;
    max-height: 385px !important;
}

.movieCardButtons {
    display: flex;
    position: absolute;
    background-color: rgb(255 255 255 / 65%);
    flex-direction: column;
    width: auto !important;
    right: 0;
    border-bottom-left-radius: 5px;
}