.ratingInput {
   display: none;
}

.ratingStar {
   cursor: pointer;
   font-size: 2rem;
   margin-right: 0.5rem;
}

.ratingButton {
   background-color: unset;
   padding: 0;
}

.ratingButton:hover {
   text-decoration: underline;
}

.saveRatingButton {
   margin-right: 0.5rem;
}

.closeRatingButton {
   color: var(--bs-danger);
}

.inactiveStar {
   color: #e4e5e9 !important;
}

.activeStar {
   color: #ffc107 !important;
}
