.headerWrapper {
    display: flex;
    align-items: flex-start !important;
    align-content: flex-start !important;
    overflow: visible;
    max-height: 46.5px;
    background-color: var(--bs-primary) !important;
    border: 0 !important;
}

.headerConteiner {
    display: flex;
    align-items: flex-start !important;
    align-content: flex-start !important;
    height: 32.5px;
}

.headerNav {
    margin-top: 8px;
    gap: 10px;
}

.headerLogo {
    margin-top: 3px;
    font-size: 1.25rem;
}

.headerLogo,
.headerNav * {
    color: var(--bs-gray-200) !important;
    font-weight: bold !important;
    text-decoration: none !important;
 }

 .headerNav *:hover {
    text-decoration: underline;
 }

 .headerLoginSwitchTheme {
    display: flex !important;
    align-items: center;
    gap: 10px;
 }

 .headerLoginSwitchTheme * {
    color: var(--bs-gray-200) !important;
    text-decoration: none;
 }