.switchButton {
    margin-top: 4px;
}

.switchButton input {
    margin-right: 5px;
}

.switchButton input:checked {
    background-color: var(--bs-body-bg) !important;
}

[data-bs-theme="dark"] .switchButton * {
    color: var(--bs-gray-200) !important;
 }