:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   font-size: 13px;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}


[data-bs-theme="dark"] * {
   color: var(--bs-white);
 }
 
[data-bs-theme="light"] * {
   color: var(--bs-gray-800);
}

[data-bs-theme="dark"] .dropdown-menu.show * {
   color: var(--bs-white) !important;
}
 
[data-bs-theme="light"] .dropdown-menu.show * {
   color: var(--bs-black) !important;
}

main {
   background-color: var(--bs-body-bg);
}

a {
   font-weight: 500;
   color: #646cff;
   text-decoration: inherit;
}
a:hover {
   color: #535bf2;
}

h1 {
   font-size: 3.2em;
   line-height: 1.1;
}

button {
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 0.6em 1.2em;
   font-size: 1em;
   font-weight: 500;
   font-family: inherit;
   background-color: #1a1a1a;
   cursor: pointer;
   transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
   outline: 0;
}

svg {
   overflow: visible;
}

/*PLUGINS STYLES*/

.alice-carousel__dots {
   margin: -50px 0 50px 0;
   position: relative;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
   background-color: var(--bs-primary)
}

.alice-carousel__dots-item:not(.__custom) {
   height: 10px;
   width: 10px;
}

.recharts-responsive-container {
   width: 100% !important;
}

.recharts-cartesian-axis line {
   display: none;
}

.recharts-tooltip-wrapper-top {
   margin-top: -30px;
}

.navbar-expand-xl .navbar-collapse {
   justify-content: flex-end;
   justify-content: space-around;
}

.navbar-collapse.collapsing.enter.enter-active,
.navbar-collapse.collapse.show.enter-done {
   display: flex !important;
   flex-direction: column !important;;
   gap: 1rem !important;;
}
