.loginFormModal * {
    background: var(--bs-body-bg) !important;
    background-color: var(--bs-body-bg) !important;
}

.loginFormInfoText {
    padding: 0 25px;
    font-weight: bold;
}

.loginFormContainer {
    padding: 0 25px 25px 25px !important;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.loginFormLoginInfo {
    padding: 0 25px;
}